body {
	background-color: #b3cccc;
}

header {
	float: left;
	padding-right: 200px;
}

.container {
	padding-left: 30px;
}

#show-contact {
  display: none;
}

.contact {
  cursor: pointer;
  color: #0088cc;
}

.contact:hover {
  text-decoration: underline;
}

li {
	list-style-type: none;
}

footer {
	float: bottom;
	padding-top: 5px;
}

